body {
  padding: 0px;
  margin: 0px;
}
.item_wrap {
  display: flex;

}
.del_btn {
  color: red;
  margin-left: 100px;
  cursor: pointer;
}
.item_price {
  margin-left: 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.product_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}